.prompt-container {
    position: relative;
}

    .prompt-container button {
        position: absolute;
        right: 1rem;
        background-color: #ffffffde; 
        top: 50%;
        transform: translateY(-50%);
    }



.hotel-card {
    width: 32rem;
    text-align: left;
    border: 0.1rem #cecece solid;
    border-radius: 1.6rem;
}

    .hotel-card .hotel-image {
        height: 21.5rem;
        width: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

.hotel-class path {
    fill: #ffffff;
}

@media (prefers-color-scheme: light) {
    .prompt-container button {
        background: #213547de;
    }
        .prompt-container button .send-image path {
            stroke: #ffffff;
        }
    .hotel-class path {
        fill: #213547de;
    }
}